
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

    
    @*@{ 
        string city = "Torondto";
    }

    @if (city == "Toronto")
    {
        <p> Yes it is </p>
    }
    else
    {
        <p>Its not </p>
    }*@


  @{ 
      int i = 0;
  }


  @for(i = 0;i< 5;i++)
  {
      @i.ToString(); <br/>
  }



@Html.TextBox("StudentName", "How are you", new { @class = "form-control" })
